.App {
  background: url("background.jpg");
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
   
}
 
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  width: 100vw;
  padding: 10px;
  max-height: 100vh;
  height: 100%;
 
}
 
.item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
 
.time {
  font-size: 80px;
  color: white;
  text-align: center;
}
 
.date {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
}
 
.add-widget-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
 
.add-widget-button:hover {
  color: #1e1e1e;
}
 
.right-widget,
.left-widget,
.main-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  max-width: 500px;
}
 
.none-widget {
  position: fixed;
  /* height: 100vh;
  width: 100vw; */
  top: 0px;
  left: 0px;
}

select {
 background-color: #efaeae;
}
 
/* Modal */
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0, 0.4);
}
 
.modal-content {
  background-color: #183A37;
  margin: auto;
  padding: 20px;
  width: 50%;
  max-height: 50vh;
  overflow: scroll;
}
 
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
 
.modal-header h2 {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
 
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
 
.widget-gallery-item {
  color: black;
  border: 1px solid white;
  padding: 10px;
  margin-bottom: 10px;
}
 
.text-input {
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding-bottom: 3px;
}
 
.widget-container {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
 
}
 
.widget-gallery-item-name{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* 
imported css

*/
.left {
 display: flex;
 flex-direction: column;
 width: 70%;
 height: 100vh;
 background-color: #282c34;
 color: white;
 font-family: sans-serif;
 justify-content: flex-start;
 padding: 10px;
 align-items: center;
}
 
.right {
 display: flex;
 flex-direction: column;
 width: 30%;
 height: 100vh;
 background-color: #282c34;
 color: white;
 font-family: sans-serif;
 border-left: 2px solid #777;
 padding: 10px;
 overflow-y: scroll;
}
.stopwatchContainer {
 padding: 10px;
 background-color: gray;
 border-radius: 10px;
 margin-bottom: 10px;
}
 
.control-buttons {
 padding: 10px;
 background-color: gray;
 border: none;
}
 
.main-button-controls {
 display: flex;
 flex-direction: row;
 gap: 10px;
 width: 100%;
 justify-content: center;
}
 
.name-label {
 padding: 10px;
 background-color: gray;
 border-radius: 10px;
 margin-bottom: 10px;
 text-align: left;
 border: none;
 outline: none;
 width: 100%;
 color: white;
}
 
.main-time-label {
 font-size: 50px;
 font-weight: bold;
 margin-bottom: 10px;
}
 
.lap-label{
 font-size: 25px;
 font-weight: bold;
 margin-bottom: 10px;
 text-align: left;
 width: 500px;
 margin-top: 20px;
}
 
.lap-container{
 display: flex;
 flex-direction: column;
 gap: 10px;
 width: 100%;
 justify-content: center;
 align-items: center;
}
 
.time-label{
 font-size: 25px;
 font-weight: bold;
}